<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BootCamp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BootCamp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BootCamp.Properties.Settings>
            <setting name="EmulatorsPath" serializeAs="String">
                <value>BootCamp\Emulators\</value>
            </setting>
            <setting name="BootListPath" serializeAs="String">
                <value>BootCamp\bootlist.cfg</value>
            </setting>
        </BootCamp.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <BootCamp.Properties.Settings>
            <setting name="FormAdd_LastSelectedEnvironment" serializeAs="String">
                <value>Windows</value>
            </setting>
            <setting name="FormMain_WindowSize" serializeAs="String">
                <value>668, 362</value>
            </setting>
            <setting name="FavoritesList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
        </BootCamp.Properties.Settings>
    </userSettings>
</configuration>